body{
  background: #333;
}

.bg{
  width: 600px;
  height: 300px;
  background: red;
  z-index: 0;
  position: relative;
}
#bg{
  object-fit: cover;
}

.korwin{
  width: 300px;
  position: absolute;
  background: yellow;
  background-size:cover;
}

.text-upper{
  position: absolute;
  left: 50%;
  top: 10px;
}

.text-lower{
  position: absolute;
  left: 50%;
  bottom: 10px;
}

.buttons{
  margin-top: 30px;
}
